<h2 class="ruled">Log In</h2>

<% form_tag session_path do -%>
  <p>
    <%= label :login, 'Username' %><br />
    <%= text_field_tag :login, @login %>
  </p>
  <p>
    <%= label :password, "Password" %><br/>
    <%= password_field_tag :password, nil %>
  </p>
  <p>
    <%= label :remember_me, "Remember Me" %>
    <%= check_box_tag :remember_me, '1', @remember_me %>
  </p>
  <p class="ruled"><%= submit_tag 'Log in' %></p>
<% end -%>
