<li id="<%= "comment-#{comment.id}" %>" class="comment light-ruled">
  
  <div class="details">
    <%= link_to h(comment.user.login), comment.user %>
    <time datetime="<%= comment.created_at.localtime %>">
      <%= time_ago_in_words(comment.created_at) %> ago
    </time>
  </div>
  
  <div class="radd-count">
    <strong><%= "#{"+" if comment.sum_of_votes > 0}#{comment.sum_of_votes}" %></strong>
    <%= pluralize_word(comment.sum_of_votes.abs, "radd") %>
    <% if logged_in? -%>
      <%= link_to image_tag("thumb-up.png"),   radd_story_comment_path(comment.story, comment), :method => :post,
                  :class => (current_user.voted_for?(comment) ? "voted" : nil) %>
      <%= link_to image_tag("thumb-down.png"), bury_story_comment_path(comment.story, comment), :method => :post,
                  :class => (current_user.voted_against?(comment) ? "voted" : nil) %>
    <% end -%>
  </div>
  
  <p><%=h comment.content %></p>
  
  <footer>
    <% if comment.replies.length > 0 -%>
      <%= link_to pluralize(comment.replies.length, "Reply"),
                  edit_story_comment_path(comment.story, comment),
                  :class => 'replies' %>
      <% if comment.replies.highest_sum_of_votes > 0 -%>
        <em>&mdash; best has <%= pluralize(comment.replies.highest_sum_of_votes, "radd") %></em>
      <% end -%>
    <% else -%>
      &nbsp;
    <% end -%>
    <% if logged_in? -%>
      <%= link_to 'Reply', edit_story_comment_path(comment.story, comment), :class => 'reply' %>
      <% if current_user.owns?(comment) && comment.is_editable? -%>
        <%= link_to 'Edit', edit_story_comment_path(comment.story, comment), :class => 'edit' %>
      <% end -%>
    <% end -%>
  </footer>
  
  <ol>
    <%= render comment.replies %>
  </ol>
  
  <%= render :partial => 'comments/form',
             :locals => { :story => comment.story,
                          :comment => comment.replies.new,
                          :submit_text => 'Post Reply' } %>
  
</li>
