<% form_for([story, comment]) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.hidden_field :reply_to_id %>
    <%= f.submit 'Create' %>
  </p>
<% end %>
