<h2 class="ruled">Editing Link Details</h2>

<% form_for(@story, :html => { :class => 'inline' }) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :link %>
    <%= f.text_field :link, :class => 'title', :disabled => true %>
  </p>
  <p>
    <%= f.label :media %>
    <%= render :partial => 'media', :collection => Story::MEDIA_TYPES %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'text' %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p class="ruled">
    <%= f.submit 'Save Changes' %>
    or <%= link_to "cancel", @story %>
  </p>
<% end %>
